<!DOCTYPE html>
<html>

<head>
    {{> head ignore_socketio=1}}
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <div class="container text-center">
        <div class="row my-4">
            <div class="col">
                <img id="logo" class="img-fluid" src="/assets/logo.png" alt="Logo">
            </div>
        </div>
        <div id="login" class="row mb-2">
            <div class="col">
                <h1><label for="username">Entrar</label></h1>
                <form id="loginForm">
                    <div class="row my-3 justify-content-center">
                        <div class="col col-lg-6">
                            <input class="form-control acds-element text-center" type="text" placeholder="Login"
                                id="username" name="username" required>
                        </div>
                    </div>
                    <div class="row my-3 justify-content-center">
                        <div class="col col-lg-6">
                            <input class="form-control acds-element text-center" type="password" placeholder="Senha"
                                id="password" name="password" required>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col">
                            <button class="btn" type="submit">Entrar</button>
                        </div>
                    </div>
                </form>
                <div class="row my-3">
                    <div class="col">
                        Não possui cadastro? <a class="h5" href="/register">Registrar-se</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col return">

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        const loginForm = $('#loginForm');
        loginForm.submit(async ev => {
            ev.preventDefault();

            loginForm.hide();

            const pass = $('#password');

            const username = $('#username').val();
            const password = pass.val();
            pass.val('');

            let responseElement;
            try {
                const response = await axios.post('/', { username, password });

                responseElement = $('<p style="color: green;" class="h4">Logado com sucesso! ' +
                    'Redirecionando para a ficha...</p>');

                setTimeout(() => {
                    let url = response.data.admin ? '/sheet/admin/1' : '/sheet/1';
                    location.replace(url);
                }, 1000);
            }
            catch (err) {
                console.error(err);
                responseElement = $(`<p style="color: red;" class="h4">Erro: ${err.message} - ${err.response.data}</p>`);

                setTimeout(() => {
                    responseElement.fadeOut(2000, () => responseElement.remove());
                }, 1000);
            }
            loginForm.show();
            $('.col.return').append(responseElement);
        });

    </script>
</body>

</html>