<!DOCTYPE html>
<html>

<head>
    {{> head ignore_socketio=1}}
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <div class="container text-center">
        <div class="row my-4">
            <div class="col">
                <img id="logo" class="img-fluid" src="/assets/logo.png" alt="Logo">
            </div>
        </div>
        <div class="row my-4">
            <div class="col">
                <h1><label for="username">Registrar</label></h1>
                <form id="registerForm">
                    <div class="row my-3 justify-content-center">
                        <div class="col col-lg-6">
                            <input class="form-control acds-element text-center" type="text" placeholder="Login"
                                name="username" id="username" required>
                        </div>
                    </div>
                    <div class="row my-3 justify-content-center">
                        <div class="col col-lg-6">
                            <input class="form-control acds-element text-center" type="password" placeholder="Senha"
                                name="password" id="password" required>
                        </div>
                    </div>
                    <div class="row my-3 justify-content-center">
                        <div class="col col-lg-6">
                            <input class="form-control acds-element text-center" type="password"
                                placeholder="Confirmar Senha" id="confirmpassword" required>
                        </div>
                    </div>
                    {{#if admin}}
                    <div class="row my-3 justify-content-center">
                        <div class="col col-lg-6">
                            <input class="form-control acds-element text-center" type="password"
                                placeholder="Chave do Administrador" name="adminKey" id="adminKey" required />
                        </div>
                    </div>
                    {{/if}}
                    <div class="row my-3">
                        <div class="col">
                            <button class="btn" type="submit">Registrar</button>
                        </div>
                    </div>
                </form>

                <div class="row my-3">
                    <div class="col">
                        Já possui cadastro? <a class="h5" href="/">Conectar-se</a>
                    </div>
                </div>
                {{#if admin}}
                <div class="row my-3">
                    <div class="col">
                        É um jogador? <a class="h5" href="/register">Registrar-se como Jogador</a>
                    </div>
                </div>
                {{else}}
                <div class="row my-3">
                    <div class="col">
                        É um administrador? <a class="h5" href="/register/admin">Registrar-se como Administrador</a>
                    </div>
                </div>
                {{/if}}
                <div class="row">
                    <div class="col return">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const pass = $('#password');
        const confirmPass = $('#confirmpassword');
        const registerForm = $('#registerForm')

        function validatePassword() {
            if (pass.val() != confirmPass.val())
                confirmPass[0].setCustomValidity("As senhas não coincidem.");
            else
                confirmPass[0].setCustomValidity('');
        }

        pass[0].onchange = validatePassword;
        confirmPass[0].onkeyup = validatePassword;

        registerForm.submit(async ev => {
            ev.preventDefault();

            registerForm.hide();

            const username = $('#username').val();
            const password = pass.val();
            const adminKey = $('#adminKey').val();
            pass.val('');
            confirmPass.val('');

            try {
                const response = await axios.post('/register', { username, password, adminKey });
                const success = $(`<p style="color: green;" class="h4">
                    Cadastro realizado com sucesso! - Redirecionando para a ficha...</p>`);
                $('.col.return').append(success);

                setTimeout(() => {
                    location.replace('/sheet/1');
                }, 1000);
            }
            catch (err) {
                const error = $(`<p style="color: red;" class="h4">Erro: ${err.message} - ${err.response.data}</p>`);
                $('.col.return').append(error);

                setTimeout(() => {
                    error.fadeOut(2000, () => error.remove());
                }, 1000);

                console.error(err);
                registerForm.show();
            }
        });

    </script>
</body>

</html>