<tr data-item-id="{{item_id}}">
    <td>
        <button class="acds-element" onclick="itemDeleteClick(event)"><i class="bi bi-trash"></i></button>
    </td>
    <td>
        <input class="name acds-element acds-bottom-text" type="text" value="{{name}}" onchange="itemChange(event)"
            data-key="name">
    </td>
    <td>
        <input class="description acds-element acds-bottom-text" type="text" value="{{description}}" data-key="description"
            onchange="itemChange(event)">
    </td>
    <td>
        <input class="visible form-check-input" type="checkbox" onchange="itemVisibleChange(event)" {{#if
            visible}}checked{{/if}}>
    </td>
</tr>