<div class="row my-3 align-items-center">
    <div class="col text-start">
        <form action="/sheet/leave">
            <a href="#" class="h4">Sair</a>
        </form>
    </div>
    {{#if logo}}
    <div class="col text-center">
        <img id="sheetLogo" class="img-fluid" src="/assets/logo.png" alt="Logo">
    </div>
    {{/if}}
    {{#if @partial-block}}
    {{> @partial-block}}
    {{/if}}
    <div class="col text-end">
        <a href="/sheet/{{targetPage}}" class="h4">Acessar {{targetPage}}° Página</a>
    </div>
</div>