.acds-player-container {
    background-color: rgb(53, 58, 64);
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 20px;
}

.acds-player-container .table-dark {
    --bs-table-bg: rgb(53, 58, 64);
}

.acds-container .dice {
    max-height: 75px;
}

.table-borderless {
    background-color: rgb(53, 58, 64);
    color: white;
}

.wrapper {
    overflow-y: auto;
    max-height: 260px;
}

.wrapper .list {
    background-color: #111;
    border-radius: 0;
    min-height: 250px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wrapper::-webkit-scrollbar,
.wrapper::-webkit-scrollbar {
    width: 0;
}

.wrapper .list>li {
    padding: 0.5rem 1rem;
}

.initiative-list li.active,
.initiative-list li.active input {
    background-color: #333 !important;
}

.npc-list li input.name,
.initiative-list li input {
    max-width: 40%;
}

.npc-list li input.name,
.npc-list li input.health,
.initiative-list li input {
    background-color: #111 !important;
}

.npc-list li input.health {
    max-width: 3em;
}

.dice-list>li:nth-child(odd) {
    background: #222;
}

.class-name {
    color: red;
}

.round {
    max-width: 3rem;
}

.player-score {
    width: 10%;
    background-color: rgb(53, 58, 64) !important;
}

.avatar-container {
    position: relative;
    height: 250px;
}

.avatar-container .avatar {
    position: absolute;
    max-height: 250px;
    transform: translateX(-50%);
}

.avatar-container .lineage {
    position: absolute;
    max-height: 100px;
    left: 90%;
    top: 35%;
    transform: translateX(-50%);
}

#curseListTable tr .level,
#equipmentListTable tr .attacks,
#equipmentListTable tr .ammo {
    width: 2rem;
    text-align: center;
}