#logo {
    max-height: 200px;
}

button[type="submit"] {
    border: 2px solid white;
    color: #ffffff;
    font-weight: bold;
    transition: 0.5s;
}

button[type="submit"]:hover {
    background-color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
}