.skill-container {
    background-color: black;
    border-radius: 20px;
}

.skill-container:hover {
    background-color: white;
}

.skill-container:hover .acds-element {
    background-color: white !important;
    color: black !important;
}

.skill-container .name {
    color: white;
}

.skill-container .total {
    color: lightgray;
}

.skill-container:hover .name,
.skill-container:hover .total {
    color: black;
}

.progress {
    height: 40px;
}

#avatar {
    max-height: 375px;
    min-width: 100px;
    min-height: 100px;
}

.critical {
    color: #cc6060 !important;
    text-shadow: 0 0 10px #DD0F0F, 0 0 30px #DD0F0F, 0 0 50px #DD0F0F !important;
}

.characteristic-container img {
    max-height: 50px;
}

.equipment-row img {
    max-height: 1.75rem;
}

.equipment-row .current-ammo {
    max-width: 3rem;
}

.avatar-field {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar-container .dice {
    max-height: 75px;
}

.attribute-container .dice {
    max-height: 40px;
}

.item-row td .quantity {
    max-width: 3rem;
}

#lineageGraph {
    background-image: url('/assets/lineages/bg_tree.jpg');
    background-size: 100% 100%;
}

.unconquered {
    filter: brightness(50%);
}

.unavailable {
    filter: brightness(25%);
}

.lineage-node {
    position: relative;
}

.lineage-node .acds-tooltip {
    visibility: hidden;
    opacity: 0;
    background: #111;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    transition: all 0.15s ease-in;
}

.acds-tooltip .description {
    color: #CCC;
}

.lineage-node img:hover+.acds-tooltip {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s 0.3s ease-out;
}

#playerClassTitle {
    color: red;
}

#playerScore {
    color: red;
}

.info-label, .class-label {
    color: rgb(185, 185, 185);
}

label.info-field,
#lineageGraph img,
#selectNodeContainer img {
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sheetLogo {
    max-height: 150px;
}

#diceResultDescription {
    opacity: 0;
    transition: 1s;
}

#diceResultDescription.show {
    opacity: 1;
}