@font-face {
    font-family: bebas-neue-pro;
    src: url(/assets/portrait_font.otf);
    font-weight: bolder;
    font-style: normal;
}

body {
    font-family: bebas-neue-pro, sans-serif;
}

.popout {
    transform: scale(0);
    transition: all 0.6s ease-in;
}

.popout.show {
    transform: scale(1);
    transition: all 0.5s ease-out;
}

.shadow {
    filter: brightness(100%);
    transition: all 0.25s ease;
}

.shadow.show {
    filter: brightness(30%);
    transition: all 0.5s ease-out;
}

.container .main,
.container .text div {
    position: absolute;
}

.container .main {
    top: -70px;
    left: -25px;
}

img {
    height: 500px;
    position: absolute;
}

.top {
    z-index: 0;
}

.middle {
    z-index: -500;
}

.bottom {
    z-index: -1000;
}

.name {
    left: 350px;
    top: 220px;

    line-height: 100%;

    max-width: 150px;

    color: white;

    font-size: 84px;
    font-style: italic;

    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.75);

    transform: translate(-50%, -50%);
}

.energy-container {
    top: -5px;
    left: 5px;
}

.health,
.sanity {
    left: 290px;
    font-size: 96px;
    font-style: italic;
    max-width: 250px;
    color: white;
}

.health {
    top: 115px;
    text-shadow: 0 0 10px #df3d60, 0 0 30px #df3d60, 0 0 50px #df3d60;
}

.sanity {
    top: 215px;
    text-shadow: 0 0 10px #7e3ddf, 0 0 30px #7e3ddf, 0 0 50px #7e3ddf;
}

.energy {
    top: 402px;
    left: 85px;
    transform: translate(-50%, -50%);

    color: #27ffbe;

    font-size: 56px;
    text-shadow: 0 0 20px #00ffff, 0 0 50px #00ffff;
}

.result {
    font-size: 96px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px #DDAF0F, 0 0 30px #DDAF0F, 0 0 50px #DDAF0F;
}

.description {
    font-size: 52px;
    color: white;
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px #DDAF0F, 0 0 30px #DDAF0F, 0 0 50px #DDAF0F;
}

.critical {
    text-shadow: 0 0 10px #DD0F0F, 0 0 30px #DD0F0F, 0 0 50px #DD0F0F !important;
}

#background {
    filter: brightness(10%);
}

#background.weakening {
    filter: saturate(100000%) hue-rotate(243deg) brightness(50%);
}

#background.dying {
    filter: saturate(100000%) hue-rotate(172deg) brightness(50%);
}

#lineage {
    position: absolute;
    top: 90px;
    left: 140px;
    transform: rotate(35deg);
    width: 250px;
    height: 250px;
}